@model ESports_Models.OrderHeader


@{
    ViewData["Title"] = "Order Confirmation";
}

<h2>Thank you for your order!</h2>

<p>Your order ID is <strong>@Model.Id</strong></p>
<p>We have sent a confirmation email to you.</p>

<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
