@model Category
<link href="~/css/Create.css" rel="stylesheet" />
<form method="post" class="bg-light shadow-sm p-4 rounded">
    <h2 class="text-primary mb-4">Create Category</h2>
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label fw-bold"> Category Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter category name" />
        <span asp-validation-for="Name" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label fw-bold">Display Order</label>
        <input asp-for="DisplayOrder" class="form-control" placeholder="Enter display order" />
        <span asp-validation-for="DisplayOrder" class="text-danger small"></span>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-primary px-4 py-2 rounded-pill shadow-sm">Create</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary px-4 py-2 rounded-pill shadow-sm">
            Back to List
        </a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}